node_modules 
admin-ui/node_modules
api/node_modules
ui/node_modules
admin-ui/dist
api/dist
ui/dist
admin-ui/test
api/test
ui/test
admin-ui/.env
api/.env
ui/.env
api/firebase-service-account.json
dist 
test
.env 
.env.local 
.env.development.local 
.env.test.local 
.env.production.local 
npm-debug.log* 
yarn-debug.log* 
yarn-error.log* 
.DS_Store 
coverage 
.idea 
.vscode/* 
!.vscode/extensions.json 
